@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2'),
      url('/fonts/BerkeleyMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2'),
      url('/fonts/BerkeleyMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'deadly';
  src: url('/fonts/deadly_typeface-webfont.woff2') format('woff2'),
       url('/fonts/deadly_typeface-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
    --background: #000000;
    --color-light: rgb(211, 211, 211);
    --color-mid: rgb(128, 128, 128);
    --color-dark: rgb(169, 169, 169);
    --foreground: #ffffff;
    --accent: #00fff7;
    --font-stack: "Berkeley Mono", "courier new", monospace;
    --font-stack-alt: "deadly", "courier new", monospace;
    --font-size-base: 14px;
    --font-size-small: 10px;
    --z-overlay: 1000;
    --z-top-ui: 1001;
}

html {
    padding: 0;
    margin: 0;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-stack);
    font-size: var(--font-size-base);
    padding: 0;
    margin: 0;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: var(--color-mid)scale;
    overscroll-behavior: none;
  }
  
  
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  ::-moz-selection,
  ::selection {
    background: var(--acccent);
  }


  button {
    border-radius: 0;
    border: 0;
    color: var(--background);
    font-family: var(--font-stack);
    cursor: pointer;
    font-size: var(--font-size-base);
  }

  button:hover {
    opacity: 0.8;
  }

  button.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .big-button {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: var(--color-light);
  }

  .dashed-button {
    border: 3px dashed var(--color-dark);
  }

  .header {
    margin-bottom: 20px;
  }

  a {
    color: var(--accent);
  }

  a:hover {
    text-decoration: none;
  }
