:root {
    --background: #000000;
    --foreground: #ffffff;
    --accent: #ff0000;
    --font-stack: 'Helvetica', sans-serif;
    --font-size-base: 16px;
}

html {
    padding: 0;
    margin: 0;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-stack);
    padding: 0;
    margin: 0;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
  }
  
  
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  ::-moz-selection,
  ::selection {
    background: var(--acccent);
  }

  .introduction {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--foreground);
  }
